<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Aggregation Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>
<body>
    <header>

        <div class="title-search-container">
            <a href="{{ url_for('index') }}" id="homeLink"><h1>Event Aggregation Website</h1></a>
        </div>
    </header>
    <div class="content">
        <section id="ticketSection">
            <h2>Home Page</h2>
                <div>
                    {% for item in all_ticketmaster_data %}
                    <p>{{item}}</p>
                    {% endfor %}
                </div>
            
        </section>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js')}}"></script>
</body>
</html>
